body{
	font-size: 18px;
 	color: #000000;
 	background-color: #FFD700;
 	font-family: "Times New Roman", Times, serif;
}
.navbar{
  background-color: #FFA500;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding: 20px;
}
.navbar-brand h1 { 
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
h2{
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 180%;
  color: #557c3e;
  font-weight: 600;
}
h4{
  margin-bottom: 10px;
  color: #557c3e;
  font-weight: 500;
}
#p1, #p2, #p3{
  	color: #000000;
}
#Chicken, #Beef, #Sushi{
	margin-bottom: 50px;
	background-color: #FFFF00;
	padding: 30px;
}
#p1:hover, #p2:hover, #p3:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}